.growler-sec {
  background-color: var(--secondary-colour-light)
}

.partners-carousel {
  background-color: var(--primary-colour-tint);
}

.pl-container {
  background-color: #eee;
  border: 2px solid var(--primary-colour-light);
  height: 5em;
  width: 10em;
  /* padding: .275em 0; */
  text-align: center;
}

.pl-container-img {
  width: 6em;
  height: inherit;
  object-fit: contain;
}
