/* homepage */

.hero-image-one {
  background-image: linear-gradient(to top, rgba(85, 93, 107, .7), rgba(85, 93, 107, .7)), url('../images/ottawa.jpg');
  background-size: cover;
  height: 80vh;
  color: var(--colour-white);
}

.hero-image-two {
  background-image: linear-gradient(to top, rgba(85, 93, 107, .7), rgba(85, 93, 107, .7)), url('../images/van.jpg');
  background-size: cover;
  height: 80vh;
  color: var(--colour-white);
}

@media only screen and (min-width: 48em) {
  .hero-image-one,
  .hero-image-two {
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: var(--colour-white);
  }
}
