.dyk-section,
.champs-section,
.testimonial-section {
  background-color: var(--colour-light-grey);
}

.howto-section {
  background-image: linear-gradient(to bottom, var(--colour-light-grey) 50%, var(--colour-white) 50%);
}

.becoming-involved-section {
  background-color: var(--colour-light-grey);
}

/* map */

.map-section,
.map-section .map-info {
  height: 80vh;
}

.map-info {
  overflow: scroll;
}

.map-top-info {
  background-color: var(--colour-dark-grey);
}

.map-bottom-info {
  background-color: var(--colour-light-grey);
}

.location-div {
  background-color: var(--accent-colour);
}

#map {
  width: 100%;
  height: 80vh;
}


/* FORMS */

.form-one {
  background-image: linear-gradient(to bottom, var(--secondary-colour) 20%, var(--colour-light-grey) 20%);
  height: inherit;
}

.shadow-sec {
  background-color: var(--colour-white);
  box-shadow: 1px 2px 15px var(--primary-colour-light);
}

.graphic-flex {
  /* display: inline-block; */
  height: 50px;
  width: 50px;
  margin-right: 1em;
  background-color: var(--secondary-colour);
  border-radius: 50%;
}

.form-sidenote {
  border: 2px solid var(--colour-dark-grey);
  border-right: 0;
  border-left: 0;
  background-color: var(--colour-light-grey);
}

.title-flex {
  /* display: inline-block; */
}

.flex-contain {
  display: flex;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
