---
layout: default
title: About Us
meta: BottleWorks operates as a free Commercial and Residential bottle pickup service for empties throughout the Ottawa area

introSectionClass: green
heroWidth: max-widthtitle
heroHone: THE HEART OF BOTTLEWORKS IS GEARED TOWARDS HELPING AT-RISK YOUTH
heroText: Youth learn how to succeed in the workplace, gain new skills  and create a sustainable impact in the Ottawa area.

articleSectionTitle: What is BottleWorks
articleSectionText: Since 2008, BottleWorks operates as a free Commercial and Residential bottle pickup service for empties throughout the Ottawa area. As the first social enterprise solely launched, and owned, by Operation Come Home (OCH), this growing project involves much more than collecting and recycling the community's empties. Our operations are simple, and flexible, while benefiting all members, who  are equally involved in making our mission possible.
articleSectionSubtext: The enterprise itself, and overall social impact, would not be possible without our partnerships with local businesses, the youth employed and the community. While working with over hundreds of unique businesses, and employing over one hundred at-risk youth, our project continues to grow and create new opportunities.
articleSectionHeading: BottleWorks Program
articleSectionFollowingText: BottleWorks employs at-risk and homeless youth to travel to pick-up locations, pick-up, organize, and transport empty bottles to the Beer Store Depot. In order to guide the youth employed during the work experience, and position them in the right direction, a social worker doubles as the van’s driver.
articleSectionFollowingSubtext: Our team of social workers meets regularly with the youth to set out a social support plan, offer aid with health, ID requirements, addiction counselling, and life skills. This checklist style support plan is completed from the beginning of employment to the end. The program offers optional positions, from full-time hours, to casual hours, depending on the schedules of those employed. This position is paid, and assists those employed in creating a resume, how to prepare and perform in an interview, and search for jobs.

becomeInvolvedTitle: Putting your empties to work
becomeInvolvedText: We offer various rotations for pickup services for our partnering business. Our clients have the option to schedule weekly, bi-weekly, monthly pickups or on-call. Time of pickup is Monday-Friday, between 8:30-4 pm.
becomeInvolvedLink: true

HowToTitle: How you can become a client
HowToText: Whether you are restaurant, a commercial business or a an individual, instead of throwing your bottles away, contact us and we will collect them for you.

becomingInvolvedTitle: How you can get involved
becomingInvolvedText: Whether you are restaurant, a commercial business or a an individual, instead of throwing your bottles away, contact us and we will collect them for you.


---

{% include intro-section.html%}
{% include article-section.html%}
{% include empty-work.html %}
{% include didyouknow.html%}
{% include howtogetinvolved.html%}


{% include empty-work.html %}
