---
layout: default
title: Drop-off
meta: Locations in the Ottawa area


introSectionClass: blue
heroWidth: max-widthsmallertitle
heroHone: GET IN WITH <br> THE GROWLER EXCHANGE
heroText: Just like our model, the sign-up process is simple.

articleSectionTitle: The Growler Exchange
articleSectionText: As the local craft breweries scene grows in the Ottawa area, so do the number of empties. In 2016, local company Brew Donkey donated a business known as the GrowlerChallenge, now operated by BottleWorks.
articleSectionSubText: This program encourages the community to return their growler bottles from any local craft brewery to designated locations throughout Ottawa. Once the growler is returned to one of the designated locations, $1 of the return fee goes to BottleWorks. Our team then collects and organizes bottles to return them to Beer Store.
articleSectionSubTextTwo: Beyond the Pale Brewing Company, Bicycle Brewery, and Dominion City Brewing CO. were a few of the amazing partners involved.

---
{% include intro-section.html %}
{% include article-section.html %}
{% include map.html %}
