---
layout: default
title: Homepage
meta: Acting as a social enterprise extension of Operation Come Home, Bottleworks is founded on helping at-risk and homeless youth in Ottawa


heroImage: hero-image-one
heroTitle: Ottawa
heroWidth: max-widthsmalltitle
heroHone: BOTTLEWORKS & THE GROWLER EXCHANGE
heroText: Acting as a social enterprise extension of Operation Come Home, Bottleworks is founded on helping at-risk and homeless youth in Ottawa
heroBtn: LEARN MORE
heroBtnLink: about-us.html/
heroGhost: GET INVOLVED
heroGhostLink: partnership.html/

learnSectionClass: learn-section
learnSectionTitle: First social enterprise launched and owned by Operation Come Home
learnSectionText: Between 2008-2016 BottleWorks has employed over 158 youth, with around 95 finding employment right after the program. The program has paid out over $245,000 in youth salaries.
learnSectionBtn: LEARN ABOUT US
learnLink: about-us.html/

becomingInvolvedTitle: How you can get involved
becomingInvolvedText: Whether you are restaurant, a commercial business or a an individual, instead of throwing your bottles away, contact us and we will collect them for you.


---

{% include hero-banner.html%}
{% include partners-carousel.html %}
{% include becoming-involved.html %}
{% include learn-section.html%}
