---
layout: default
title: Partnership
meta: Currently, we are partnered with over 85 different businesses in the Ottawa area, keeping the partnership local and close to home

heroImage: hero-image-two
heroTitle: BottleWorks at work
heroWidth: max-widthsmallertitle
heroHone: ALL IT TAKES IS YOUR BOTTLES, OUR TEAM & THE VAN
heroText: As we continue to expand we are always looking for new opportunities for partnerships
heroBtn: CHECK MAP
heroBtnLink: drop-off.html/
heroGhost: BECOME A CLIENT
heroGhostLink: become-client.html/

articleSectionTitle: Our Partnership
articleSectionText: Currently, we are partnered with over 85 different businesses in the Ottawa area, keeping the partnership local and close to home. These businesses are located throughoutOttawa, with a majority located in the centre core of the city.
articleSectionSubText: In Ottawa’s downtown/ByWard Market area, some of our partners include restaurants, Side door, Eighteen, Milestones, Vittoria Trattoria, and Mill Street Brewery. As well, we share partnerships with several conference centres, condominiums, and private residences.
articleSectionHeading: The Growler Exchange
articleSectionFollowingText: As the local craft breweries scene grows in the Ottawa area, so do the number of empties. In 2016, local company Brew Donkey donated a business known as the GrowlerChallenge, now operated by BottleWorks.
articleSectionFollowingSubText: This program encourages the community to return their growler bottles from any local craft brewery to designated locations throughout Ottawa. Once the growler is returned to one of the designated locations, $1 of the return fee goes to BottleWorks. Our team then collects and organizes bottles to return them to Beer Store.
articleSectionFollowingSubTextTwo: Beyond the Pale Brewing Company, Bicycle Brewery, and Dominion City Brewing CO. were a few of the amazing partners involved.

learnSectionClass: learn-section-two
learnSectionTitle: How you can get involved
learnSectionText: Whether you are restaurant, a commercial business or a an individual, instead of throwing your bottles away, contact us and we will collect them for you.
learnSectionBtn: BECOME A CLIENT
learnLink: become-client.html/
---

{% include hero-banner.html%}
{% include article-section.html%}
{% include testimonials.html id=0 %}
{% include graph-info.html%}
{% include learn-section.html%}
{% include client-toggle.html %}
