---
layout: default
title: Social Enterprise Model
meta: Our social impact revolves around empowering at-risk youth and environmental impact sustained from our bottle collection

introSectionClass: light-blue
heroWidth: max-widthsmalltitle
heroHone: IN 2008 WE LAUNCHED OUR GOAL FOR THE OTTAWA COMMUNITY
heroText: Our social impact revolves around empowering at-risk youth and environmental impact sustained from our bottle collection.

articleSectionTitle: Our Operation Model
articleSectionText: We offer various rotations for pickup services for our partnering business. This includes local businesses, such as restaurants, hotels, bar, private residences, condominiums and conference centres. Our clients have the option to schedule free weekly, bi-weekly, or monthly pickups. Generally, this depends on the storage and space available to house empties until pickup.
articleSectionHeading: Running time
articleSectionFollowingText: Time of pickup is Monday-Friday, between 8:30-4 pm. Each client uses BottleWorks’s ervices enter into a contract that entails pick-up arrangements. As well, at return, each bottle is valued at 10 or 20 cents. As each bottle is a donation to the operation, companies are still provided a charitable tax receipt. Less empties? No problem! If a weekly pickup is not needed, our flexible pickup service offer an on-call pickup for when is best for your business.
articleSectionHeadingTwo: Returning bottles
articleSectionHeadingText: All refundable bottles, including alcohol containers over 100 mL, consisting of glass, plastic, aluminum, etc, are returned to the Ottawa Distribution Centre for Beer Store Depot located at 2750 Swansea Crescent Ottawa.
articleSectionHeadingTextTwo: The revenue from bottle return, generating around$675 monthly, goes directly back into the social enterprise, in order to cover employee wages and project expenses. We recommend bottles generally be stored in a secured pick-up location, usually being residential basements or garages. From there, theBottleWorks team can transfer bottles from bin and storage resources, to be separated and organized by bottle type.
articleSectionHeadingThree: Environment Impact
articleSectionHeadingTextThree: Each year BottleWorks collects and then returns over 1,000,000 recyclable bottles to theBeer Store Depot. Instead of being sent to the landfill, the glass bottles are cleaned andreused at either a bottle  plant or refused by a third party to create new bottles. Aluminum products are recycled and recreated into new cans or metal sheets.


---

{% include intro-section.html %}
{% include growler.html %}
{% include article-section.html %}
{% include champs.html %}
