<section class="partners-carousel pad-t-2 pad-b-2 coorporate-blue">
  <div class="text-center wrapper island-2">
    <ol class="grid list-group island-2">
      <li class="unit [ xs-1 s-1-3 m-1-3 l-1-3 ]">
        <figure class="partner-ligroup gutter-1-2">
          <div class="embed pl-container">
            <img class="pl-container-img" alt="Photo of partner logo">
          </div>
          <figcaption class="white-text pad-t-1-2 micro text-center"><em class="bold not-italic"></em> Bottles shared</figcaption>
        </figure>
      </li>
      <li class="unit [ xs-1 s-1-3 m-1-3 l-1-3 ]">
        <figure class="partner-ligroup gutter-1-2">
          <div class="embed pl-container">
            <img class="pl-container-img" alt="Photo of partner logo">
          </div>
          <figcaption class="white-text pad-t-1-2 micro text-center"><em class="bold not-italic"></em> Bottles shared</figcaption>
        </figure>
      </li>
      <li class="unit [ xs-1 s-1-3 m-1-3 l-1-3 ] ">
        <figure class="partner-ligroup gutter-1-2">
          <div class="embed pl-container">
            <img class="pl-container-img" alt="Photo of partner logo">
          </div>
          <figcaption class="white-text pad-t-1-2 micro text-center"><em class="bold not-italic"></em> Bottles shared</figcaption>
        </figure>
      </li>
    </ol>
  </div>

</section>

<script src="js/randomizer.js"></script>
