<section class="dyk-section pad-t-2 pad-b-2">
  <div class="gutter pad-t-2 pad-b-2">
    <div class="grid island-2">

      <div class="unit [ xs-1 s-1 m-1 l-1-2 xl-4-5 ] ">
       <h2 class="push-0 mega normal">Did you know?</h2>
       <p class="push-0 yotta max-length-no-center">A fully intact beer bottle can be washed and reused <em class="bold not-italic blue-text">nine</em> <b class="bold accent-text">times</b> before it’s broken down and made into a new bottle.</p>
      </div>

      <div class="unit [ xs-1 s-1 m-1 l-1-2 xl-1-5 ] text-center pad-t">
        <i class="icon i-128">
          <img src="{{site.baseurl}}/images/logo.svg" alt="Illustration of the Growler vehicle">
        </i>
      </div>

    </div>
  </div>



</section>
