<section class="pad-t-2 pad-b-2 wrapper">

  <div class="island-2 text-center grey-text">
    <div class="div-width pad-b-2">
      <h2 class="push-1-2">{{page.becomeInvolvedTitle}}</h2>
      <p>{{page.becomeInvolvedText}}</p>
      <a href="#" class="line-link bold milli link-box">Read more about our Social Enterprise Model &#8594;</a>
    </div>

    <div class="pad-t-2 grid list-group">
        <div class="unit [xs-1 s-1 m-1-3 l-1-3 xl-1-3] gutter-1-4">
          <div href="#" class="grey-text island-1-2">
            <i class="icon i-96">
              <img src="{{site.baseurl}}/images/logo.svg" aria-detail="Illustration of community" alt="Illustration of community">
            </i>
            <h3 class="mega pad-t push-0">Community</h3>
            <p class="micro push-0">Focused on helping at-risk and homeless youth in Ottawa</p>
          </div>
        </div>

        <div class="unit [xs-1 s-1 m-1-3 l-1-3 xl-1-3] gutter-1-4">
          <div href="#" class="grey-text island-1-2">
            <i class="icon i-96">
              <img src="{{site.baseurl}}/images/logo.svg" aria-detail="Illustration of bottle collection" alt="Illustration of bottle collection">
            </i>
            <h3 class="mega pad-t push-0">Bottle Collection</h3>
            <p class="micro push-0">All revenue goes back into the social enterprise, to cover expenses</p>
          </div>
        </div>

        <div class="unit [xs-1 s-1 m-1-3 l-1-3 xl-1-3] gutter-1-4">
          <div href="#" class="grey-text island-1-2">
            <i class="icon i-96">
              <img src="{{site.baseurl}}/images/logo.svg" aria-detail="Illustration of the champions" alt="Illustration of the champions">
            </i>
            <h3 class="mega pad-t push-0">The Champs</h3>
            <p class="micro push-0">Our goal is to help at-risk youth employed gain confidence in the workplace</p>
          </div>
        </div>

    </div>


  </div>

</section>
