<footer role="contentinfo" class="gutter-2 pad-t-2 pad-b-1-2">

  <div class="grid pad pad-t gutter wrapper">
    <div class="unit [ xs-1 s-1 m-1-2 l-2-4 ] pad-t">
      <div class="grid">
        <div class="unit [ xs-1 s-1 m-1-2 l-1-3 ] pad-b footer-logo">
          <div>
            <i class="icon i-96"><img class="logo" src="{{site.baseurl}}/images/logo-white.svg" alt=""></i>
          </div>
        </div>
        <div class="unit [ xs-0 s-0 m-0 l-1-3 ]"><!--Empty div --></div>
        <nav class="unit [ xs-1 s-1 m-1-2 l-1-3 ] ">
          <ul class="list-group push-0">
            <li class="gutter-1-8"><a class="pico link-box footer-nav" href="index.html" aria-details="click here to go to home">HOME</a></li>
            <li class="gutter-1-8"><a class="pico link-box footer-nav" href="about-us.html" aria-details="click here learn more about us">ABOUT US</a></li>
            <li class="gutter-1-8"><a class="pico link-box footer-nav" href="social-enterprise.html" aria-details="click here to read about our social enterprise">SOCIAL ENTERPRISE MODEL</a></li>
            <li class="gutter-1-8"><a class="pico link-box footer-nav" href="partnership.html" aria-details="click here learn more about our partnership">PARTNERSHIP</a></li>
            <li class="gutter-1-8"><a class="pico link-box footer-nav" href="become-client.html" aria-details="click here see how to become a client">BECOME A CLIENT</a></li>
            <li class="gutter-1-8"><a class="pico link-box footer-nav" href="drop-off.html" aria-details="click here to see drop-off location">DROP OFF</a></li>

          </ul>
        </nav>
      </div>
    </div>

    <div class="unit [ xs-1 s-1 m-1-4 l-1-4 ] pad-t">
      <p class="push-0">
        <span class="nano block bold">SAMANTHA HASKINS</span>
        <span class="pico block">BottleWorks Program Coodinator</span>
        <span class="pico block"><a class="footer-link" href="mailto:bottleworks@operationcomehome.ca">bottleworks@operationcomehome.ca</a></span>
        <span class="pico block">OFFICE: <a class="footer-link" href="tel:+6132304663">(613)230-4663</a></span>
      </p>
    </div>

    <div class="unit [ xs-1 s-1 m-1-4 l-1-4 ] pad-t">
      <p class="push-0">
        <span class="nano block bold">FOLLOW US</span>
      </p>
      <ul class="list-group-inline push-l">
        <li class="push-r-1-8">
          <a href="#">
            <i class="icon i-24">
              <img src="{{site.baseurl}}/images/logo.svg" alt="">
            </i>
          </a>
        </li>
        <li class="gutter-1-8">
          <a href="#">
            <i class="icon i-24">
              <img src="{{site.baseurl}}/images/logo.svg" alt="">
            </i>
          </a>
        </li>
        <li class="gutter-1-8">
          <a href="#">
            <i class="icon i-24">
              <img src="{{site.baseurl}}/images/logo.svg" alt="">
            </i>
          </a>
        </li>
      </ul>
    </div>
    <div class="unit [ xs-1 s-1 m-1 l-1 ] pad-t-2">
      <hr>
    </div>
    <div class="unit [ xs-1 s-1 m-1 l-1 ] text-center pad-t-1-2">
      <p class="nano">© <span>2019 BottleWorks · Website designed and developed by SLiDE lab</span> <em class="italic">visit:</em> <a href="https://slidelab7.ca" class="footer-link">slidelab.ca</a></p>
    </div>

  </div>


</footer>
