<section class="graph-section pad-t-2 pad-b-2">
  <div class="island-2 wrapper">
    <h2 class="not-bold">FEATURED CLIENT</h2>
    <div class="grid">
      <div class="unit [ xs-1 s-1 m-1-2 l-1-2 xl-1-2 ] ">
        <div class="embed embed-3by2">
          <img class="embed-item graph-image" src="images/ottawa.jpg" alt="photo of featured client's logo">
        </div>
      </div>
      <div class="unit [ xs-1 s-1 m-1-2 l-1-2 xl-1-2 ] gutter">
        <dl class="">
          <dt class="graph-partner-name bold"></dt>
          <dd><em class="graph-bottles bold not-italic green-text">####</em> Bottles Donated</dd>
          <canvas id="myChart" width="500" height="200">

          </canvas>
          <span class="green-text pico"><em class="bold not-italic bottles-total">###</em> Bottles collected to date</span>
        </dl>
      </div>
    </div>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="{{site.baseurl}}/js/api.js"></script>
  <script src="{{site.baseurl}}/js/chartInfo.js"></script>



</script>
