<section class="growler-sec pad-t-2 pad-b-2">
  <div class="grid wrapper island-2">

    <div class="unit [ xs-1 s-1 m-1-2 l-1-2 xl-1-4 ] text-center">
      <i class="icon i-128">
        <img src="{{site.baseurl}}/images/logo.svg" alt="Illustration of the Growler vehicle">
      </i>
    </div>

    <div class="unit [ xs-1 s-1 m-1-2 l-1-2 xl-3-4 ] pad-t white-text">
     <h2 class="push-0">THE GROWLER EXCHANGE</h2>
     <p class="push-0 milli max-length-no-center">Our partnership with local breweries encourages the community to return their growler bottles from local craft breweries to our designated locations throughout Ottawa.</p>
     <a href="#" class="line-link bold nano pad-t-1-2 link-box">See all of our Drop-off locations &#8594;</a>
    </div>

  </div>
</section>
