<ul class="skip-links">
  <li><a href="#nav">Jump to nav</a></li>
  <li><a href="#main">Jump to main content</a></li>
</ul>

<header id="navbar" class="relative pad-t-1-2 pad-b-1-2" role="banner" tabindex="0">
  <div id="nav-cover"></div>
  <div class="gutter">
    <div class="grid grid-middle gutter">
      <div class="h_logo unit [ xs-1-2 s-1-2 m-1-6 l-1-6 xl-1-4 ] ">
        <a href="{{site.baseurl}}/index.html">
          <i class="icon i-96"><img class="logo" src="{{site.baseurl}}/images/logo-regular.svg" alt=""></i>
        </a>
      </div>

      <div class="unit [ xs-1-2 s-1-2 m-5-6 l-5-6 xl-3-4 ] nav-sec">
        <div class="nav-bar">
          <div id="togglenav" class="absolute">
            <div class="hbutton" id="hambuger">
              <div class="firstl" id="h_first"></div>
              <div class="secondl" id="h_second"></div>
              <div class="thirdl" id="h_third"></div>
              <div class="btn-bg" id="h_bg"></div>
            </div>
          </div>

          <nav id="hiddennav" role="navigation" id="nav" class="absolute">
            <ul id="nav-items" class="list-group push-0">
              <li class="linavspace"><a class="bold navsize link-box hover-nav" href="index.html" aria-details="click here to go to home">HOME</a></li>
              <li class="linavspace"><a class="bold navsize link-box hover-nav" href="about-us.html" aria-details="click here learn more about us">ABOUT US</a></li>
              <li class="linavspace"><a class="bold navsize link-box hover-nav" href="social-enterprise.html" aria-details="click here to read about our social enterprise">SOCIAL ENTERPRISE MODEL</a></li>
              <li class="linavspace"><a class="bold navsize link-box hover-nav" href="partnership.html" aria-details="click here learn more about our partnership">PARTNERSHIP</a></li>
              <li class="linavspace"><a class="bold navsize link-box hover-nav" href="become-client.html" aria-details="click here see how to become a client">BECOME A CLIENT</a></li>
              <li class="linavspace"><a class="bold navsize link-box drop" href="drop-off.html" aria-details="click here to see drop-off location">DROP OFF &#8594;</a></li>

            </ul>
          </nav>

        </div>

      </div>
    </div>
  </div>


</header>
