<section class="partners-carousel island-2">
  <ol class="grid list-group">
    <li class="unit [ xs-1-2 s-1-3 m-1-6 l-1-6 ] gutter-1-2">
      <figure class="partner-ligroup">
        <div class="embed pl-container">
          <img class="pl-container-img" alt="Photo of partner logo">
        </div>
        <figcaption class="white-text pad-t-1-2 nano text-center">
          <span class="restaurant_name block"></span>
          <span><em class="bold not-italic"></em> Bottles shared</span>
        </figcaption>
      </figure>
    </li>
    <li class="unit [ xs-1-2 s-1-3 m-1-6 l-1-6 ] gutter-1-2">
      <figure class="partner-ligroup">
        <div class="embed pl-container">
          <img class="pl-container-img" alt="Photo of partner logo">
        </div>
        <figcaption class="white-text pad-t-1-2 nano text-center">
          <span class="restaurant_name block"></span>
          <span><em class="bold not-italic"></em> Bottles shared</span>
        </figcaption>
      </figure>
    </li>
    <li class="unit [ xs-1-2 s-1-3 m-1-6 l-1-6 ] gutter-1-2">
      <figure class="partner-ligroup">
        <div class="embed pl-container">
          <img class="pl-container-img" alt="Photo of partner logo">
        </div>
        <figcaption class="white-text pad-t-1-2 nano text-center">
          <span class="restaurant_name block"></span>
          <span><em class="bold not-italic"></em> Bottles shared</span>
        </figcaption>
      </figure>
    </li>
    <li class="unit [ xs-1-2 s-1-3 m-1-6 l-1-6 ] gutter-1-2">
      <figure class="partner-ligroup">
        <div class="embed pl-container">
          <img class="pl-container-img" alt="Photo of partner logo">
        </div>
        <figcaption class="white-text pad-t-1-2 nano text-center">
          <span class="restaurant_name block"></span>
          <span><em class="bold not-italic"></em> Bottles shared</span>
        </figcaption>
      </figure>
    </li>
    <li class="unit [ xs-1-2 s-1-3 m-1-6 l-1-6 ] gutter-1-2">
      <figure class="partner-ligroup">
        <div class="embed pl-container">
          <img class="pl-container-img" alt="Photo of partner logo">
        </div>
        <figcaption class="white-text pad-t-1-2 nano text-center">
          <span class="restaurant_name block"></span>
          <span><em class="bold not-italic"></em> Bottles shared</span>
        </figcaption>
      </figure>
    </li>
    <li class="unit [ xs-1-2 s-1-3 m-1-6 l-1-6 ] gutter-1-2">
      <figure class="partner-ligroup">
        <div class="embed pl-container">
          <img class="pl-container-img" alt="Photo of partner logo">
        </div>
        <figcaption class="white-text pad-t-1-2 nano text-center">
          <span class="restaurant_name block"></span>
          <span><em class="bold not-italic"></em> Bottles shared</span>
        </figcaption>
      </figure>
    </li>

  </ol>
</section>

<script src="js/randomizer.js"></script>
