<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{%if page.title%} {{page.title}} · {%endif%} BottleWorks </title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.ico">
  <link href="css/main.css" rel="stylesheet">
</head>
<body>

  {% include nav.html %}
  <main role="main" tabindex="0" id="main">
    {{content}}
  </main>
  {% include footer.html %}

  <script src="js/nav.js"></script>
</body>
</html>
